build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/
.vscode/
native/src/build/
app/windows/flutter/ephemeral/
app/linux/flutter/ephemeral/
app/macos/Flutter/ephemeral/
app/macos/Pods/
